click==8.1.8
click-plugins==1.1.1
dotenv==0.9.9
fiona==1.10.1
geopandas==1.0.1
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pyparsing==3.2.3
pyproj==3.7.1
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
shapely==2.1.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
xlrd==2.0.1
